<footer>
    <p>&copy; 2024 Bhushan Kumar Yadav. All rights reserved.</p>
    <p>
        <a href="https://www.linkedin.com/in/bhushan-kumar-yadav-840200333/">LinkedIn</a> | 
        <a href="https://github.com/Bhuvancode200">GitHub</a> |
        <a href="mailto:kumarbhuvan718@gmail.com">Email</a>
    </p>
</footer>
